@import url('yui_reset.css');
@import url('yui_base.css');
@import url('yui_fonts.css');

@font-face {
	font-family: 'Gotham Bold';
	src: url('fonts/Gotham-Bold.eot');
	src: local('☺'), url('fonts/Gotham-Bold.woff') format('woff'), url('fonts/Gotham-Bold.ttf') format('truetype'), url('fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Medium';
	src: url('fonts/Gotham-Medium.eot');
	src: local('☺'), url('fonts/Gotham-Medium.woff') format('woff'), url('fonts/Gotham-Medium.ttf') format('truetype'), url('fonts/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.eot');
	src: local('☺'), url('fonts/Gotham-Book.woff') format('woff'), url('fonts/Gotham-Book.ttf') format('truetype'), url('fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*** MAIN 1024 ***/
body{width: 100%; background: #fff; margin: 0 auto;}
h2 {text-align: center; margin: 0px; font-weight: normal; font-family: 'Gotham Bold'; font-size: 30px; text-transform: uppercase;}
section{padding-top: 80px;}
/*** HEADER ***/
header{height: 60px; background: #000; position: fixed; top: 0px; width: 100%; z-index: 100;}
#header{width: 941px; margin: 0 auto;}
#logo {float: left; margin-top: 7px;}
nav {margin-left: 125px;}
#nav {list-style: none; float: left; margin-left: 125px; margin-top: 18px; padding-left:0;}
#nav li {float: left; margin-right: 45px; font-size: 18px;}
#nav li a {color: #fff; text-decoration: none; text-transform: uppercase; font-family: 'Gotham Bold';}
#acceso{float: right; margin-top: 6px;}
#acceso h4{ margin-top:0; margin-bottom:0; color: #fff; text-decoration: none; text-transform: uppercase; font-size: 18px; font-family: 'Gotham Bold';}
#acceso h4 span{font-weight: normal; font-size: 14px; font-family: 'Gotham Medium';}

/*** SPLASHES ***/
.splash{padding-top: 60px;}
#uno {width: 100%; height: 1200px; background:fixed center no-repeat;  background-image: url('images/splash1.png'); -webkit-background-size: cover; background-size: cover; -o-background-size: cover; -moz-background-size: cover; text-align: center;}
#uno #logo_grande {width: 462px; margin:0px auto;}

#dos {width: 100%; height: 1200px; background:fixed center no-repeat;  background-image: url('images/splash2.png'); -webkit-background-size: cover; background-size: cover; -o-background-size: cover; -moz-background-size: cover; text-align: center;}

#tres {width: 100%; height: 1200px; background:fixed center no-repeat;  background-image: url('images/quienes.png'); -webkit-background-size: cover; background-size: cover; -o-background-size: cover; -moz-background-size: cover; text-align: center;}

/*** SERVICIOS ***/

#servicios {width: 800px; margin: 0 auto; margin-top: 25px; position: relative; overflow: hidden; min-height: 600px;}
#servicios_slide article{ width:100%;}

#nav_servicios {list-style: none; border-top: 1px solid #000; border-bottom: 1px solid #000; height: 85px; width:100%; padding-left:0; margin: 25px auto 45px auto;}
#nav_servicios li {margin-top: 10px;}
#nav_servicios li a {display: block; width: 160px; background: #fff; text-align: center; float: left; color:#000; text-decoration: none; text-transform: uppercase; font-family: 'Gotham Bold'; font-size: 18px; padding: 20px 0 20px 0;}
#nav_servicios li.activeSlide a {background: #000; color: #fff;}
#nav_servicios li a:hover {background: #e0e0e0; color: #000;}
#nav_servicios li.activeSlide a:hover {background: #000; color: #fff;}

.servicio_left {width: 540px; float: left; margin-left: 5px;}
.servicio_left h3 {font-family: 'Gotham Bold'; font-weight: normal; font-size: 36px; text-transform: uppercase; margin: 0px;}
.servicio_left p {font-size: 20px; font-family: 'Gotham Medium'; border-top: 1px solid black; margin-top: 30px; padding-top: 30px; width: 500px;}
.servicio_right {float: right;}
.icon {width: 218px;}

/*** PRODUCTOS ***/

#productos {width: 100%;  padding-top: 80px; min-height: 500px; position:relative; overflow:hidden;}
#productos.los-maquiladores{ background: #000; }
#productos.objecto-colectivo{ background: #2f2f2f; }
#productos.vive-aqui{ background: #ff9e00; }
.prod_container {width: 950px; margin: 0 auto; position:relative; overflow:hidden;}
.prod_container.vive-aqui{}
.prod_container.vive-aqui .left{ width: 50%; float:left;}
.prod_container.vive-aqui .left img{}
.prod_container.vive-aqui .left p{}
.prod_container.vive-aqui .right{ width:50%; float:left;}
.prod_container.vive-aqui .right .iphone{ width:90%; margin:auto; display:block;}
#prod_izq {width: 230px; float: left;}
#productos h2 {color: #fff; text-align: left; font-size: 24px; background: #232323; width: 200px; padding: 10px;}
#productos #nav_productos {list-style: none; margin: 30px 0 0 10px; padding-top: 30px; padding-left:0; border-top: 1px solid #fff; width: 210px;}
#nav_productos li { margin-top: 15px; color: #fff; text-decoration: none; text-transform: uppercase; font-family: 'Gotham Bold'; font-size: 18px; cursor:pointer;}
#prod_content {float: right; width: 700px; color:#fff; font-family: 'Gotham Book'; font-size: 18px;}
#prod_content img {margin-bottom: 30px;}
#prod_content p{color:#fff; font-family: 'Gotham Medium'; font-size: 20px; margin-top: 50px;}
#prod_content a {color:#fff; text-decoration: none; }

/*** QUIENES SOMOS ***/

#quienes_somos {margin-top: 20px; width: 620px; margin: 0 auto; min-height: 1850px;}
#quienes_somos #monograma {width: 80px; margin: 20px auto 30px auto;}
#quienes_somos #monograma img {width: 80px;}
#quienes_somos h5 {display: block; width: 300px; margin: 15px 0 20px 0; font-family: 'Gotham Medium'; font-size: 24px; text-align: center; font-weight: normal; text-transform: uppercase;}
#quienes_somos a.twitter {display: block; width: 300px; color: #000; text-decoration: none; text-align: center; font-family: 'Gotham Medium'; font-size: 18px; margin-bottom: 40px;}
#quienes_somos p {font-family: 'Gotham Medium'; font-size: 16px; text-align: left;}
#covanori {position: relative; overflow: hidden;}
#cova {width: 300px; float: left; text-align: center;}
#cova img {margin: 20px 0px 0px 0px }
#nori {width: 300px; float: right; text-align: center;}
#nori img {margin: 20px 0px 0px 0px }



#equipo h2{margin-top: 80px; }
#equipo ul {list-style: none; margin: 70px 0 0 0; padding-left:0; position:relative; overflow:hidden;}
#equipo ul li {width: 140px; margin-right: 20px; float: left; text-align: center; height: 280px;}
#equipo ul li:nth-child(4n) {margin-right: 0px;}
#equipo ul li img {width: 140px;}
#equipo ul li h6 {font-family: 'Gotham Medium'; font-weight: normal; font-size: 12px; text-transform: uppercase; margin: 15px 0 0 0;}
#equipo ul li a{color: #000; text-decoration: none; padding-top: 15px; display: block; font-family: 'Gotham Book'; font-size:13px;}
.linea {width:140px; border-top: 1px solid black; margin: 40px auto 0 auto; }


/*** CLIENTES ***/

.clientes {width: 800px; margin:0 auto;}

/*** FOOTER ***/

footer {width: 100%; background: #000; height: 200px; margin-top: 50px;}
#footer {width:800px; margin: 0 auto; position: relative}
footer img {width: 160px; position: absolute; margin-top: 60px; left: 0;}
#footer ul {list-style: none; margin: 80px 0px 0px 230px; width: 240px; float: left; margin}
#footer ul li {color: #fff; font-family: 'Gotham Medium'; font-size: 14px; text-transform: uppercase; margin-bottom: 15px;}
#footer  a {color: #fff; text-decoration: none;}
#footer p {width: 150px; float: right; font-family: 'Gotham Medium'; font-size: 14px; margin-top: 65px; color: #fff;}