html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
	font-family: Arial; 
	font-size: 16px; 
	line-height: 21px; 
	background-color: black; 
}

a { 
	color: #31999A; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

#map_canvas { 
	height: 100%;
	width: 100%;
}

#content { 
	color: #000; 
	border-color: none; 
	overflow-y: visible;  
}

#content ul { 
	list-style: none; 
	padding: 15px; 
	background-color: #f7f7f7; 
}

#html { 
	position: absolute; 
	top: 30px; 
	right: 30px; 
	width: 325px; 
	height: 62%; 
	background-color: white; 
	padding: 35px; 
	overflow: auto; 
}

.group:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

@media (max-width: 768px) { 
		#html { 
		position: absolute; 
		top: 30px;
		right: 30px;
		width: 80%; 
		height: auto; 
		background-color: white; 
		padding: 15px; 
		overflow: auto; 
	}

	#content ul {
		overflow: hidden;
	}

	.heading {
		line-height: initial;
	}
}